spring:
  application:
    name: study-platform-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/study-platform-db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:root189065}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
  sql:
    init:
      mode: never
      data-locations: classpath:data.sql

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

